.form_content{
    /* position :absolute !important; */
    /* right:10% !important; */
    /* top:-50% !important; */
    width:100% !important;
    padding-bottom: 46px;
    padding-top:12px;
}
.ant-form-item{
    margin-bottom: 0 !important;
}
.ant-form-item-label label {
    text-transform: uppercase !important;
    font-weight: 500 !important;
}
.row-info-order div span{
    /* line-height: 1.75rem; */
    font-size: 1.2rem;
    font-weight: 500;
    color: blue;
}
.span-info-order{
    float:right;
    /* line-height: 1.25rem; */
}