.book_content{
    position: absolute !important;
    top:15%;
    right:10%;
    width:35%;
    font-size: 16px;
    font-weight: 450px;
    color:#ffffff;
    background-color:#fafafa;
    opacity: 0.85;
    border-radius:30px;
    padding: 2.5rem 2.5rem; 

}