.content_manager_wrapper{
    background: white;
    /* padding:5px 24px; */
    height: 100%;
    /* border-bottom: 1px solid rgba(0,0,0,0.12); */
}
.table-wrapper{
    padding: 5px 24px;
    text-align: center;
    padding-right: 27px;
    height:100%;
}
.ant-layout{
    height:100%;
}
.ant-layout-content {
    background: white;
}

.notification-bar{
    background-color: goldenrod;
    margin: 10px;
    padding: 4px;

}

.btn-noti{
    float: right !important;
}

.btn-close__notification-right {
    background-color: transparent !important;
    border: none;
    position: relative;
    top: -4px;
}


.btn-close__notification-right:hover {
    color: red !important;
}

.btn-mail-notification-right {
    background-color: transparent !important;
    border: none;
    position: relative;
    top: -4px;
}

.btn-mail-notification-right:hover {
    color:rgb(74, 247, 74) !important;
}
