.function-bar-wrapper{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding:5px 24px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.function-btn-left{
    float: left;
    margin-right: 3px;
}
.function-btn-right{
    float: right;
    margin-right: 3px;
}