.form_content{
    /* position :absolute !important; */
    /* right:10% !important; */
    /* top:-50% !important; */
    width:100% !important;
}
.ant-form-item{
    margin-bottom: 0 !important;
}
.ant-form-item-label label {
    text-transform: uppercase !important;
    font-weight: 500 !important;
}
.row-info-order div span {
    line-height: 1.75rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: blue;
}
.span-info-order{
    float:right;
    line-height: 1.25rem;
}
.text-order{
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.55rem;
    /* padding: 0 20px; */
}
.text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    /* padding: 0 20px; */
}
.ant-form-item-control {
    /* line-height: 15px ; */
}
.title-header{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    color: green;
}
.title-header-banner {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: green;
    line-height: 0.75rem;
}
.title-label{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: blue;
    padding: 0;
    margin: 0;
}
.content_order_wrapper{
    display:flex;
    flex-direction:column;   
    align-items: center;
    text-align: center;
    height: 670px;
}
.title-header-final {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: green;
    margin-top:20px;
    line-height: 0.75rem;
}
.code-order {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: green;
    /* margin-top:20px; */
    line-height: 0.75rem;
}
.content_order_wrapper p{
    font-size: 1.5rem;
    line-height: 30px;
}
